<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

<h1>Страничка для подтверждения смены Вашего емейла <br> в профиле социальной сети "Собутыльники" с (<span th:text="${email}"></span>) <br>
    на емейл: <span th:text="${future_email}"></span></h1>

<h1> Используйте один из двух вариантов подтверждения представленных ниже: </h1>

<form class="question_control_form_by_code" name="restore_password_form" method="put" action="/code/approve/change_email_code">
    <div class="form_confirm_change_email1">
        <h1>Выберите код, отправленный на емейл регистрации:</h1></div>
    <input type="text" name="code" required="required">
    <br><br>
    <input type="submit" name="submit_btn" value="Подтвердить изменение емейла">
</form>


<form class="question_control_form" name="restore_password_form" method="POST" action="/users/approve/change_email">
    <div class="form_confirm_change_email2">
        <h1>Выберите контрольный вопрос, указанный при подтверждении email <br> во время регистрации:</h1></div>
    <div class="confirm_change_email_question">Вопрос?</div>
    <select name="numberQuestion">
        <option value="1">Не выбрано.</option>
        <option value="2">Девичья фамилия матери?</option>
        <option value="3">Кличка Вашего питомца?</option>
        <option value="4">Любимый город?</option>
        <option value="5">Любимый напиток?</option>
        <option value="6">Ваше мечта?</option>
    </select>
    <div>Ваш ответ:</div>
    <input type="text" name="answer" required="required">
    <br><br>
    <input type="submit" name="submit_btгn" value="Подтвердить изменение емейла">
<br><br>
</form>
</body>
</html>